# Config
config/common.ini

# Dependencies
vendor

# Cache
.php_cs.cache
.phpunit.result.cache

# ORM
tmp/Proxies

# Public
public/*
!public/api/
!public/admin/.gitkeep

# Storage
!public/storage/
public/storage/images/*
!public/storage/images/.gitkeep

# Misc
.remote-sync.json
