# Config
config/common.ini

# Dependencies
vendor

# Cache
tmp/*
!tmp/.gitkeep

# Public
public/*
!public/api/
!public/admin/.gitkeep

# Storage
!public/storage/
public/storage/images/*
!public/storage/images/.gitkeep

# Misc
.remote-sync.json
