config/common.ini
vendor
examples/
.remote-sync.json
.php_cs.cache
.phpunit.result.cache
tmp/Proxies
public/reports/
public/docs/
public/admin/*
!public/admin/.gitkeep
public/storage/*
!public/storage/.gitkeep
